@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,200;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,200;1,8..144,300&display=swap');
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:  Helvetica;
    src: url('../fonts/Helvetica\ Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family:  Helvetica;
    src: url('../fonts/Helvetica.otf');
    font-weight: 400;
}
body{
    background: #f2f7ff;
    font-family:  Helvetica;
    font-weight: 400;
}
.logo{
    height: 54px;
    width: 100%;
}
.item img{
    object-fit: cover;
    object-position: top;
}
.scroll img {
    width: 100% !important;
    height: 70px;
    margin-right: 3px;
    margin-bottom: 3px;
}
.scroll {
    display: flex;
    overflow-x: scroll;
}
.client-logo{
    height: 30px;
    object-fit: cover;
}
/* width */
.scroll::-webkit-scrollbar {
    display: none;
}
.scroll .nav-item {
    max-width: 33.33%;
}

.scroll .nav-link{
    padding-right: 4px !important;
}
.scroll .nav-item:last-child .nav-link{
    padding-right: 0 !important;
}
.h210{
    height: 210px;
}
.h210 span img{
    vertical-align: baseline;
}
.bg-black{
    background: #000000;
}
.w10{
    width: 150px;
}
.mr-5{
    margin-right: 3.5rem !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.815);
    font-weight: 500;
}
.navbar-nav {
    z-index: 9999;
}
.col-md-4 .sticky{
    margin-top: 40px !important;
}
.bg-lighter{
    background: #dadada;
}
ul{
    list-style: none;
    padding: 0;
}
ul li{
    padding-left: 0;
    margin-bottom: 7px;
}
li a {
    color: black;
    text-decoration: none;
    line-height: 1.3;
}
footer h5{
    margin-bottom: 20px;
}
.w-70{
    width: 70%;
}
.w-30{
    width: 30%;
}
footer input{
    border: 3px solid white;
}
.item .col-md-5 img {
    object-fit: cover;
    object-position: top;
    height: 150px;
}.navbar {
     padding-top: 0;
     padding-bottom: 0;
 }
.bg-dark
.form-control{
    font-size: 15px;
    border-radius: 8px;
}
figure{
    width: 100%;
}
figure img {
    height: 170px;
    width: 100% !important;
    object-fit: cover;
}
ion-icon {
    font-size: 30px;
}
